
.invoice_page {
    @include page-config;
    // padding: 2rem 0;
    
    .table_invoice {
        width: 100%;

        table {
            width: 90%;

            .Invoice_actions {
                display: flex;
                column-gap: .25rem;
                justify-content: center;
                
                .btn_delete {
                    @include btn_fuxia_impl;
                    
                }


            }

        }
    }
}