
.sidebar {
    background: $color-backgroud-sidebar;
    color: $color-text-light;
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - $height-footer);
    width: $width-sidebar;
    padding-left: 1.5rem;
    z-index: $index-2;
    
    .elements {
        @include flex-column;
        height: calc(100% - $height-footer);
        justify-content: space-between;
        
        .list {
            @include flex-column;
            margin-top: 5rem;
        }

        .item {
            @include flex-left;
            column-gap: 1rem;
            padding: 1rem 0;
            cursor: pointer;
            .icon {
                color: $color-fuxia;
                font-size: 1.5rem;
            }

            &:hover {
                background: linear-gradient(to left, $color-fuxia2, $color-backgroud-sidebar);
                border-right: 5px solid $color-fuxia;
            }
        }

    }
}

