@import 'const', 'footer', 'sidebar' , 'dashboard', 'inventory', 'invoice', 'client', 'signup', 'table',
    'search', 'sellState', 'infoprod','clientForm', 'profile';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .2rem;
}
