@import 'const', 'footer', 'sidebar', 'dashboard', 'table', 'search', 'sellState';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}
