// -- colors
$color-backgroud-sidebar: #131B21;
$color-backgroud-dark1: #192229;
$color-backgroud-dark2: #182027;
$color-backgroud-dark3: #141D23;
$color-backgroud-page: #293038;
$color-backgroud-page2: #BFC8CE;
$color-backgroud-table: #131A20;
$color-backgroud-footer: #0B1319;
$color-gray:#BAC0C5;
$color-gray2:#7C8791;


$color-fuxia: #E21945;
$color-fuxia2: #583040;
$color-fuxia3: #381B27;


$color-green: #7B9723;

$color-text-light: #fff;

// -- space
$width-sidebar: 12rem;
$height-footer: 3rem;
$border-radious: .5rem;

// -- index
$index-1 : 100;

// -- MINXIN
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-left {
    display: flex;
    justify-content: left;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
