
table {
    background: linear-gradient(to left, $color-backgroud-page, $color-fuxia3);
    border-spacing: 0;
    // border: 1px solid black;
    border-radius: $border-radious;
    text-align: center;

    tr {
        
        th {
            background: $color-backgroud-table;
            color: #fff;
            /* background: #fff;
            color: $color-fuxia; */
            padding: .75rem 1.75rem;
            
            span {
                color: $color-fuxia;
            }

            &:first-child {
                border-radius: $border-radious 0 0;
            }

            &:last-child {
                border-radius: 0 $border-radious 0 0;
            }
        }

        td {
            padding: 0.5rem 1rem;
            
            color: $color-gray;
        }

        button {
            background: $color-green;
            color: #fff;
            padding: 0.25rem .75rem;
            transition: 0.25s;

            &:hover {
                box-shadow: 0 0 12px  $color-green;

            }
        }

    }


}